.button-next,
.button-retrieve,
.download-cv {
  position: absolute;
  z-index: 1;
  color: white;
  background-color: rgb(74, 12, 85);
  border-radius: 5px;
  border: rgb(74, 12, 85) solid 1px;
  bottom: 5px;
  right: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 0;
  padding: 10px 15px;
  cursor: pointer;
}

.button-next:hover,
.button-retrieve:hover,
.download-cv:hover {
  filter: brightness(1.2);
}

.button-retrieve {
  position: absolute;
  padding: 2px;
  bottom: 93%;
  right: 3%;
  font-size: 1.3em;
}

.return-to-galaxy {
  position: absolute;
  color: rgb(74, 12, 85);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  right: 15px;
  top: 6px;
  margin: 2px;
  -webkit-text-stroke: 0.5px white;
}

.return-to-galaxy:hover {
  color: white;
  filter: brightness(2);
}

@media (orientation: landscape) and (max-device-width: 800px) {
  .button-next {
    font-size: 1em;
  }
  .button-retrieve {
    bottom: 89%;
  }
}
