body{
    overflow: hidden;
    background: url("./Cv_Galaxy/map/galaxy.jpg") fixed no-repeat top left ;
    background-color: blueviolet;
    background-size: cover;
}


#galaxy{
    height: 100vh;
    width: 100vw;
    position: relative;    
    transition: 0.5s ease-out;
}

#galaxy.active{
    transform: translate(var(--translate-x),var(--translate-y) );
} 


.planet{
    user-select: none;
    position: absolute;
    transition: 0.5s ease-out;
}

.planet.active{
    transform: scale(2);
}

#intro-planet{
    height: 22%;
    top: 40%;
    left: 2%;    
}


#mando-planet{
    height: 20%;
    top: 15%;
    left: 30%     
}

#mononoke-planet{
    height: 25%;
    top: 10%;
    left: 50%;
}

#porco-planet{
    height: 20%;
    top: 15%;
    left: 75%;
}

#catsby-planet{
    height: 25%;
    top: 70%;
    left: 20%
}

#simpson-planet{
    height: 20%;
    top: 75%;
    left: 45%;
}

#ange-planet{
    height: 25%;
    top: 60%;
    left: 70%;
}



#world-bar{
    position: absolute;
    background-color: aliceblue;
    width: 700px;
    height: 150%;
    right : -100%;
    top : 0;
    transition: 0.5s ease-out;
}

#world-bar.active{
    right: 0px;
}



