.help {
  position: absolute;
  width: 150px;
  color: rgba(240, 248, 255, 0.553);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9em;
  font-weight: 500;
  border: 5px solid rgb(74, 12, 85);
  background-color: rgba(109, 20, 94, 0.47);
  padding: 20px;
  border-radius: 50px;
  text-align: center;
}

#help-echap {
  bottom: 25px;
  left: 48%;
  visibility: hidden;
}

#help-planet {
  top: 10%;
  left: 15%;
  transition: ease;
  visibility: hidden;
}

#help-parchment {
  bottom: 35%;
  left: 35%;
}

@media (max-height: 1000px) and (max-width: 1885px) {
  #help-echap {
    left: 30%;
  }
}

@media (max-height: 1000px) and (max-width: 1716px) {
  #help-echap {
    left: 40%;
  }
}

@media (max-height: 1000px) and (max-width: 1550px) {
  #help-echap {
    left: 35%;
  }
}

@media (max-height: 1000px) and (max-width: 1325px) {
  #help-echap {
    left: 30%;
  }
}

@media (max-height: 800px) and (max-width: 1500px) {
  #help-echap {
    left: 35%;
  }
}

@media (max-height: 800px) and (max-width: 1110px) {
  #help-echap {
    left: 25%;
  }
}

@media (max-height: 1000px) and (max-width: 1080px) {
  #help-echap {
    left: 25%;
  }

  #help-planet {
    left: 20%;
    top: 1%;
    width: 200px;
  }
}

@media (max-height: 800px) and (max-width: 1080px) {
  #help-echap {
    left: 20%;
  }
}

@media (max-height: 800px) and (max-width: 895px) {
  #help-echap {
    left: 10%;
  }
}

@media (max-height: 800px) and (max-width: 845px) {
  #help-echap {
    left: initial;
    right: 5%;
    bottom: 3%;
    z-index: 3;
    font-size: 0.7em;
    width: 100px;
  }
}

@media (max-height: 1000px) and (max-width: 860px) {
  #help-echap {
    left: initial;
    right: 5%;
    bottom: 3%;
    z-index: 3;
  }

  #help-planet {
    left: 1%;
    top: 40%;
    width: 100px;
  }
}

/*SMARTPHONE*/

@media (max-height: 600px) and (max-width: 1600px) {
  #help-echap {
    left: initial;
    right: 46%;
    bottom: initial;
    top: 3%;
    font-size: 0.7em;
    z-index: 3;
  }

  #help-parchment {
    left: initial;
    right: 12%;
    width: 20%;
  }

  #help-planet {
    left: 13%;
    top: 5%;
    width: 80px;
    height: 50px;
    font-size: 0.7em;
    padding: 10px;
  }
}

@media (max-height: 1000px) and (max-width: 640px) {
  #help-planet {
    width: 70px;
    top: 1%;
    left: initial;
    right: 2%;
  }

  #help-echap {
    left: 0%;
    bottom: 0%;
    font-size: 0.7em;
    width: 97%;
    z-index: 3;
    padding: 0%;
    border-radius: initial;
  }
}
