#world-bar {
  position: fixed;
  background-color: aliceblue;
  width: 36vw;
  height: 100vh;
  right: 0;
  top: 0;
  transition: 0.5s ease-out;
  overflow-y: scroll;
  transform: translateX(100%);
}

#world-bar.active {
  transform: initial;
}

@media (max-height: 1000px) and (max-width: 1910px) {
  #world-bar {
    width: 40vw;
  }
}

@media (max-height: 1000px) and (max-width: 1720px) {
  #world-bar {
    width: 45vw;
  }
}

@media (max-height: 1000px) and (max-width: 1550px) {
  #world-bar {
    width: 50vw;
  }
}

@media (max-height: 800px) and (max-width: 1385px) {
  #world-bar {
    width: 40vw;
  }
}

@media (max-height: 800px) and (max-width: 1170px) {
  #world-bar {
    width: 45vw;
  }
}

@media (max-height: 800px) and (max-width: 1110px) {
  #world-bar {
    width: 55vw;
  }
}

@media (max-height: 800px) and (max-width: 900px) {
  #world-bar {
    width: 65vw;
  }
}

@media (max-height: 800px) and (max-width: 800px) {
  #world-bar {
    width: 70vw;
  }
}

@media (max-height: 800px) and (max-width: 690px) {
  #world-bar {
    width: 100vw;
  }
}

@media (max-height: 600px) and (max-width: 1600px) {
  #world-bar {
    width: 80vw;
    height: 100vh;
    overflow-y: hidden;
  }
}

/*SMARTPHONE*/
@media (orientation: portrait) and (max-width: 500px) {
  #world-bar {
    width: 100vw;
    height: 100vh;
  }
}
